
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*,
*::before *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  padding: 30px;
}

  .section{
    margin: 0%;
    padding: 0%;
  }

.header{
    /* background-image: url(../images/hero.jpg); */
    background-image: linear-gradient(to right bottom, rgba(134, 134, 197, 0.842), rgba(226, 109, 109, 0.863)),
    url(../images/hero.jpg);
    height: 100vh;
    /* clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 85vh); */
    background-size: cover;
}
.header img{
  height: 40px;
  margin-top: 20px;
  margin-left: 10px;
}
.header-text h1{

  font-size: 60px;
  color: white;
  letter-spacing: 10px;
}
.header-text h3{
  font-size: 20px;
  color: white;
  letter-spacing: 5px;
}
.header-text{
  margin-top: 150px;
}
.header-text button{
  margin-top: 15px;
  height: 40px !important;
  width: 150px;
  font-size: 20px;

}
.about {
  
  padding: 100px 0px; 
  color: black;   
  
}
.about-text p{
   width: 500px;
   display: inline-block;
}
.about-text h2{
  font-size: 30px;
}
.features{
  margin-top: 50px;
  padding: 120px;
background-image: linear-gradient(to right bottom, rgba(134, 134, 197, 0.842), rgba(226, 109, 109, 0.863)),url(../images/features-image.jpg);
}
.featured-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 25px;
  text-align: center;
  border-radius: 2px;
  transition: all 0.2s; }

  .featured-box__icon {
    font-size: 60px;
    background: linear-gradient(to right,  rgba(134, 134, 197, 0.842), rgba(226, 109, 109, 0.863));
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent; }

  .featured-box__text {
    font-size: 15px; }
  .featured-box:hover {
    transform: translateY(-15px) scale(1.03); }

    .my-work img{
      width: 100%;
      height: auto;
    }
    .my-work img:hover{
      transform: translateY(-15px) scale(1.03);
    }
    .my-work h3{
      padding-top: 60px;
      font-size: 30px;
      color: black;

    }
    .my-work p{
      padding-bottom: 30px;
    }
    .my-work{
      transition: all 0.3s;
    }
    .footer{
      background-color: rgba(226, 109, 109, 0.863);
      color: white;
      padding: 30px;
      text-align: center;
      margin-top: 60px;
    }
    @media screen and (max-width: 800px) {
      .about-text p{
        width: 100%;
     }
    }